{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h5>Accueil</h5>
            <h6 style="margin-top: 2.5rem">Derniers événements</h6>
            <div class="col l8 s12">

            </div>
        </div>
    </div>

{% endblock %}
